<nav class = "navbar">
    <div class="logo">HealthScheduler</div>
        <ul class="nav-links">

            <form action="<%= search_path %>" method="get">
                <input type="text" name="q" placeholder="Search doctors or User...">
                <button type="submit">Search</button>
            </form>

            <%= link_to "Home", "/" %>
            <% if user_signed_in? %>
                <% if current_user.role == "admin" %>
                    <li><%= link_to "Profile", patient_path(current_user) %></li>
                    <li><%= link_to "Patients", patients_path(@user) %></li>
                    <div class="dropdown">
                        <button class="dropdown-button">Doctor</button>
                        <div class="dropdown-content">
                        <a class="dropdown-item"><%= link_to "Your Doctors", doctors_path %></a>
                        </div>
                    </div>
                    <li><%= link_to "Appointments", appointments_path%></li>
                <% else %>
                    <li><%= link_to "Profile", patient_path(current_user) %></li>
                    <li><%=link_to "Appointment History", appointment_history_patient_path(current_user)%></li>
                <% end %>
                <li>
                    <%= form_tag(destroy_user_session_path, method: :delete, style: 'display: inline-block;') do %>
                    <%= submit_tag "Sign Out" %>
                    <% end %>
                </li>
                <% else %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <% end %>
        </ul>
     </div>
</nav>