<nav class = "navbar">
    <div class="logo">HealthScheduler</div>
        <ul class="nav-links">

            <form action="<%= search_path %>" method="get">
                <input type="text" name="q" placeholder="Search doctor via name specialization or city...">
                <button type="submit">Search</button>
            </form>
        
            <button class="dropdown-button"><%= link_to "Home", "/" %></button>
    
            <% if user_signed_in? %>
                <% if current_user.role == "admin" %>
                    <div class="dropdown">
                        <button class="dropdown-button">Profile</button>
                        <div class="dropdown-content">
                            <a class="dropdown-item"><%= link_to "Your Profile", patient_path(current_user) %></a>
                            <a class="dropdown-item"><%=link_to "Appointment History", appointment_history_patient_path(current_user)%></a>
                            <a class="dropdown-item"><%= link_to 'Edit Profile', edit_user_registration_path %></a>
                        </div>
                    </div>
                    <button class="dropdown-button"><%= link_to "Patients", patients_path(@user) %></button>
                    <div class="dropdown">
                        <button class="dropdown-button">Doctor</button>
                        <div class="dropdown-content">
                            <a class="dropdown-item"><%= link_to "Your Doctors", doctors_path %></a>
                            <a class="dropdown-item"><%= link_to "Add Doctor", new_doctor_path %></a>
                        </div>
                    </div>
                    <button class="dropdown-button"><%= link_to "Appointments", appointments_path%></button>
                <% else %>
                    <div class="dropdown">
                        <button class="dropdown-button">Profile</button>
                        <div class="dropdown-content">
                            <a class="dropdown-item"><%= link_to "Your Profile", patient_path(current_user) %></a>
                            <a class="dropdown-item"><%=link_to "Appointment History", appointment_history_patient_path(current_user)%></a>
                            <a class="dropdown-item"><%= link_to 'Edit Profile', edit_user_registration_path %></a>
                        </div>
                    </div>
                <% end %>
                <li>
                    <%= form_tag(destroy_user_session_path, method: :delete, style: 'display: inline-block;') do %>
                    <%= submit_tag "Sign Out" %>
                    <% end %>
                </li>
                <% else %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <% end %>
        </ul>
     </div>
</nav>