<nav class = "navbar">
    <div class="logo">HealthScheduler</div>
        <ul class="nav-links">
            <%= link_to "Home", "/" %>
            <% if user_signed_in? %>
                <%= form_tag(destroy_user_session_path, method: :delete, style: 'display: inline-block;') do %>
                <%= link_to "Profile", patient_path(current_user) %>  
                <%= submit_tag "Sign Out" %>
                <% end %>
            <% else %>
            <div>
                <%= link_to "Sign Up", new_user_registration_path %>
            </div>
            <div>
                <%= link_to "Sign In", new_user_session_path %>
            </div>    
            <% end %>
        </ul>
     </div>
</nav>