<h2>History</h2>
<table>                   
  <tr>                           
    <th>Doctor Name</th>
    <th>Doctor specialization</th>
    <th>Doctor Phone-number</th>
    <th>Appointment-Date</th>
    <th>Appointment-Time</th>
    <th>Reason</th>
  </tr>   
  <tr>
    <%@history.each do |history|%> 
    <td><%=history.doctor.name%></td> 
    <td><%=history.doctor.specialization%></td> 
    <td><%=history.doctor.mobile_number%></td> 
    <td><%=history.appointment_date%></td> 
    <td><%=history.appointment_time.strftime("%I:%M %p") %></td> 
    <td><%=history.reason%></td> 
  </tr>  
   <%end%>             
</table> 
  
<br>

<div>
    <%=link_to "Back to Profile", patient_path(current_user)%>
</div>