<h2>Patient</h2>
  <table>                         
    <tr>                          
      <th>First Name</th>
      <th>Last Name</th>
      <th>Mobile-Number</th>
      <th>Email</th>
    </tr>   
    <tr>
      <td><%= @user.first_name %></td> 
      <td><%= @user.last_name %></td> 
      <td><%= @user.mobile_number %></td> 
      <td><%= @user.email %></td>  
    </tr>                      
  </table> 
<br>

<div>
  <li><%=link_to "Appointment History", appointment_history_patient_path(current_user)%></li>
</div>
<div>
   <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
</div>
