<p class="notification"><%= notice %></p>
<h2>Patient</h2>
<table>                         
  <tr>                          
    <th>Patient Name</th>
    <th>Patient Price</th>
    <th>Patient Duration</th>
  </tr>   
  <tr>
    <td><%= @patient.name %></td> 
    <td><%= @patient.mobile_number %></td> 
    <td><%= @patient.address %></td>  
  </tr>                      
</table> 
<br>

<div>
  <li><%=link_to "Appointment History", patient_appointment_history_path(@patient.id)%></li>
<div>