<div class = "profile-container">  
  <div class="profile-card">
    <h2>Patient Profile</h2>
    <div class="profile-info">
      <p><strong>First Name:</strong> <%= @user.first_name %></p>
      <p><strong>Last Name:</strong> <%= @user.last_name %></p>
      <p><strong>Mobile Number:</strong> <%= @user.mobile_number %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
    </div>
    <div class="profile-actions">
      <%= link_to "Go Back", "/", class: "back-button" %>
    </div>
  </div>
</div>
