<h2>History</h2>
<table>                       
  <tr> 
    <% if @appointment_history.present? %>                        
    <th>User First Name</th>
    <th>User Last Name</th>
    <th>Email</th>
    <th>Appointment-Date</th>
    <th>Appointment-Time</th>
    <th>Reason</th>
    <th>Status</th>
  </tr>   
  <tr>  
    <%@appointment_history.each do |history|%>   
    <td><%=history.first_name%></td> 
    <td><%=history.last_name%></td> 
    <td><%=history.email%></td> 
    <td><%=history.appointment_date%></td> 
    <td><%=history.appointment_time.strftime("%I:%M %p") %></td> 
    <td><%=history.reason%></td> 
    <td><%=history.status%></td> 
  </tr>  
  <%end%>  
  <% else %>
  <h3>Patient not found</h3>
  <%end%>             
</table> 
<br>

<div>
    <%=link_to "Back to Profile", @doctor %>
</div>