<p class="notification"><%= notice %></p>
<h2>History</h2>
  <%@appointment_history.each do |history|%>  
  <% if history.patient.present? %>
<table>                       
  <tr>                          
    <th>Patinet Name</th>
    <th>Patinet mobile_number</th>
    <th>Appointment-Date</th>
    <th>Appointment-Time</th>
    <th>Reason</th>
  </tr>   
  <tr>  
   
    <td><%=history.patient.name%></td> 
 
    <td><%=history.patient.mobile_number%></td> 

    <td><%=history.appointment_date%></td> 

    <td><%=history.appointment_time%></td> 

    <td><%=history.reason%></td> 
  </tr>
  <% else %>
  <h3>Patient not found</h3>
  <%end%>   
<%end%>              
</table> 
<br>

<div>
    <%=link_to "Back to Profile", @doctor %>
</div>