 <div class = "center"> 
  <h2>Doctor</h2>
  <table class = "center-table">                         
    <tr>                          
      <th>Name</th>
      <th>Mobile-Number</th>
      <th>Address</th>
      <th>specialization</th>
      <th>consultation_fees</th>
      <th>experience</th>
      <%if current_user.role == "admin"%> 
      <th>Edit</th>
      <th>Delete</th>
      <%end%>
    </tr>   
    <tr>
      <td><%= @doctor.name %></td> 
      <td><%= @doctor.mobile_number %></td> 
      <td><%= @doctor.address %></td>  
      <td><%= @doctor.specialization %></td> 
      <td><%= @doctor.consultation_fees %></td> 
      <td><%= @doctor.experians %></td> 
      <%if current_user.role == "admin"%> 
      <td><%=link_to "Edit Doctors Profile",edit_doctor_path(@doctor)%>
      <td><%= button_to "Delete Doctor's Profile", doctor_path(@doctor), method: :delete, data: { confirm: "Are you sure?" } %>
</td> 
      <%end%>
    </tr>                      
  </table> 
  <br>
  <div>
    <%= link_to "Back", "/"%>
  </div>
<%=render "links"%>
</div>

<%if current_user.role == "admin"%> 
  <div class = "center">
    <%=link_to "Add Availability",new_doctor_doctor_availability_path(@doctor.id)%> 
  </div>
<%end%>