 <div class = "center"> 
  <h2>Doctor</h2>
  <table class = "center-table">                         
    <tr>                          
      <th>Name</th>
      <th>Mobile-Number</th>
      <th>Address</th>
      <th>specialization</th>
      <th>consultation_fees</th>
      <th>experians</th>
    </tr>   
    <tr>
      <td><%= @doctor.name %></td> 
      <td><%= @doctor.mobile_number %></td> 
      <td><%= @doctor.address %></td>  
      <td><%= @doctor.specialization %></td> 
      <td><%= @doctor.consultation_fees %></td> 
      <td><%= @doctor.experians %></td> 
    </tr>                      
  </table> 
  <br>
  <div>
    <%= link_to "Back", "/"%>
  </div>
<%=render "links"%>
</div>