
<%if @doctor.present?%>
<h2 class = "center">Book Appointment with Dr. <%= @doctor.name%></h2>
<%end%>
<div class="centered-form">
  <%= form_with(model: (@doctor.present? ? [@doctor, @appointment] : @appointment), local: true) do |form|  %>
    
    <div class="field">
      <%= form.hidden_field :appointment_date %>
      <%= form.hidden_field :appointment_date, value: @appointment.appointment_date || Date.today %>
    </div>


    <%if @available_slots.present?%> 
    <div>
      <%= form.label :appointment_time, 'Appointment Time' %>
      <%= form.select :appointment_time ,options_for_select(@available_slots), {}, class: "time-select"%>
    </div>
    <%else%>
    <div>
      <%= form.label :appointment_time, 'Appointment Time' %>
      <%= form.time_field :appointment_time %>
    </div>
    <%end%>
    <div>
      <%= form.label :reason, 'Reason for Appointment' %>
      <%= form.text_field :reason %>
    </div>

    <%if current_user.role == "admin"%>
    <div>
      <%= form.label :status, 'Status',default: 'Panding' %>
      <%= form.select :status, options_for_select([['Panding', 'Panding'],['Confirmed','Confirmed'],['Rejected','Rejected']])%>
    </div>
    <%end%>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
<%if @doctor.present?%>
<div class = "center">
  <%= link_to 'Back to Profile', patient_path(current_user)%>
</div>
<%else%>
<div class = "center">
  <%= link_to 'Back to Appointment', appointment_path(@appointment) %>
</div>
<%end%>